body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #4096A3;
}

.credit-card-form {
    width: 400px;
    margin: 50px auto;
    background-color: #4096A3;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FFA500;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.expiry-cvv {
    display: flex;
    justify-content: space-between;
}

.expiry,
.cvv {
    width: 48%;
}

button {
    background-color: #FFA500;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
