body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    background-color: #ccc; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; 
    max-width: 300px; 
}
.input-container {
    margin-bottom: 15px;
}
.input-container label {
    display: block;
    margin-bottom: 5px;
}
.input-container input, .input-container textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
}
.input-untouched {
    color: #999;
}
.input-valid {
    border: 1px solid #4CAF50;
    color: #4CAF50;
}
.input-invalid {
    border: 1px solid #f44336; 
    color: #f44336;
}
.checkbox {
    position: relative;
}
.checkbox input {
    display: none;
}
.checkbox .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}
.checkbox input:checked + .slider {
    background-color: #4CAF50; 
}
.checkbox .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
.checkbox input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.radio {
    display: flex;
    align-items: center;
}
.radio input {
    margin-left: 5px;
}
.button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.button-green {
    background-color: #4CAF50;
    color: white;
}
.button-green:hover {
    background-color: #45a049;
}
.button-red {
    background-color: #f44336;
    color: white;
}

.button-red:hover {
    background-color: #d32f2f;
}

.button-disabled {
    background-color: #514f4f;
    color: #eeeeee;
    cursor: pointer;
}
.button-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    margin-right: 5px;
}
.button-circle.button-green {
    background-color: #4CAF50;
    color: white;
}
.button-circle.button-red {
    background-color: #f44336;
    color: white;
}
.textarea {
    resize: none;
}
